@charset "utf-8";



h1{
    text-align: center;
    color: rgba(6, 149, 102, 0.561);
}

ul{
max-width: 960px;
display:flex;
background-color: #eeeeee;
margin: 0 auto;
}
li{
    margin-left:40px;
    color: #333;
}

.flex-box{
  margin: 15px;
  background-color: white;
}

.title {
  margin: 10px;  
  border-left: 10px solid rgba(6, 149, 102, 0.561);
}

@media screen and (max-width: 400px){
  ul{
    flex-direction: column;
  }
  }
